/*
	SITE
	This is the main stylesheet, which imports everything
*/
/* Compass and additional extensions */
/* Base */
/*
    CONFIGURATION
    Variables and global parameters
*/
/* Grid */
/* Colors */
/* Sprites */
.sprites-sprite, .wrapper-nav-main .lnk-home a, .lnk-top:before, .lmtm-phone:before, .lmtm-email:before, .lnk-twitter a:before, .lnk-linkedin a:before, .lnk-more a:before, .service-title-conseil:before, .service-title-dvpt:before, .service-title-formation:before, .member-social .twitter a, .member-social .linkedin a, .member-social .github a, .member-social .viadeo a, .idea-open, .idea-close {
  background-image: url('../img/sprites-s9ba45d63b6.png');
  background-repeat: no-repeat; }

/*
	BASE
	Reset browser default styles, 
	fix common browser bugs and inconsistencies
	and give useful tools for common needs

	SUMMARY
	Reset
	Tools
	Typography
	Medias
	Tables
	Forms

	SOURCES
	http://html5boilerplate.com
	http://www.knacss.com
	http://rocssti.nicolas-hoffmann.net/
	http://necolas.github.com/normalize.css
*/
/*-----------------------------------------------------------------------
  == RESET
----------------------------------------------------------------------- */
/* Reset margin and padding */
html, body, blockquote, ul, ol, p, form, figure, label {
  margin: 0;
  padding: 0; }

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* Adds support for the [hidden] attribute in legacy browsers */
[hidden] {
  display: none; }

/* Corrects `inline-block` display not defined in IE 8/9 and Firefox 3 */
audio, canvas, video {
  display: inline-block; }

/* Max values */
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
  max-width: 100%;
  height: auto;
  width: auto;
  /* Fix a bug on IE8 */ }

/* 
	(1) Corrects an IE6/7 bug where text is resized to much greater sizes than normal
	(2) Prevents iOS text size adjust after orientation change without disabling user zoom 
*/
html {
  font-size: 100%;
  /* (1) */
  -webkit-text-size-adjust: 100%;
  /* (2) */
  -ms-text-size-adjust: 100%;
  /* (2) */ }

/*-----------------------------------------------------------------------
  == TYPOGRAPHY
----------------------------------------------------------------------- */
/* Avoid collapsing margins */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
  margin-top: 0; }
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
  margin-bottom: 0; }

/* Cross-browser kerning-pairs & ligatures (cf. http://www.aestheticallyloyal.com/public/optimize-legibility) */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility; }

/* Avoid last element bottom margin */
p:last-child, ul:last-child, ol:last-child, dl:last-child, blockquote:last-child, pre:last-child, table:last-child {
  margin-bottom: 0; }

/* Cross browser hyphenation (cf. http://blog.kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/) */
textarea, table, td, th, code, pre, samp {
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

del {
  text-decoration: line-through; }

/* Adresses styling not present in Safari 5 & Chrome */
dfn {
  font-style: italic; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* Addresses styling not present in IE */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Add hyphenation (cf. http://blog.fontdeck.com/post/9037028497/hyphens) */
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/* Normalize monospace sizing (cf. http://en.wikipedia.org/wiki/User:Davidgothberg/Test59) */
pre, code, kbd, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* Improve readibility of quoted code */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* Prevents sub and sup affecting line-height in all browsers (cf. http://gist.github.com/413930) */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Remove active outline (cf. http://people.opera.com/patrickl/experiments/keyboard/test) */
a:hover, a:active {
  outline: 0; }

/* Addresses `outline` inconsistency between Chrome and other browsers */
a:focus {
  outline: thin dotted; }

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help; }

dfn {
  font-style: italic; }

/*-----------------------------------------------------------------------
  == MEDIAS
----------------------------------------------------------------------- */
img, a img {
  border: 0; }

figure {
  margin: 0; }

/*-----------------------------------------------------------------------
  == TABLES
----------------------------------------------------------------------- */
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: top; }

th {
  font-weight: normal;
  text-align: left; }

td {
  vertical-align: top; }

/*-----------------------------------------------------------------------
  == LAYOUT
----------------------------------------------------------------------- */
.row {
  display: table;
  width: 100%; }

.col {
  display: table-cell;
  vertical-align: top; }

.inbl {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-right: -.25em; }

/*-----------------------------------------------------------------------
  == FORMS
----------------------------------------------------------------------- */
form, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

/* Corrects color not being inherited in IE 8/9 */
legend {
  border: 0;
  padding: 0; }

/* 
	(1) Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5 and Chrome
	(2) Addresses `font-family` inconsistency between `textarea` and other form elements
	(3) Corrects font size not being inherited in all browsers
	(4) Improves appearance and consistency in all browsers
*/
input, button, select, textarea {
  margin: 0;
  /* (1) */
  font-family: sans-serif;
  /* (2) */
  font-size: 100%;
  /* (3) */
  vertical-align: baseline;
  /* (4) */ }

/* Addresses Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet */
button, input {
  line-height: normal; }

/* Removes inner padding and border in Firefox 3+ */
input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Makes labels clickable */
label {
  cursor: pointer; }

/* 
	(1) Improves usability and consistency of cursor style
	(2) Corrects inability to style clickable `input` types in iOS
*/
button, input[type=submit], input[type=reset], input[type=button] {
  cursor: pointer;
  /* (1) */
  -webkit-appearance: button;
  /* (2) */ }

/* Align inputs with their label (cf. http://tjkdesign.com/ez-css/css/base.css) */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

/*
	(1) Addresses box sizing set to content-box in IE 8/9.
	(2) Removes excess padding in IE 8/9.
*/
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* (1) */
  padding: 0;
  /* 2 */ }

/* Avoid dimensioning and a different display on IE */
input[type="radio"], input[type="checkbox"], input[type="image"] {
  background-color: none;
  border: 0;
  width: auto; }

/* Re-set default cursor for disabled elements */
button[disabled], input[disabled] {
  cursor: default; }

/* 
	(1) Remove default scrollbars on IE
	(2) Adjust alignement in all browsers
	(3) Allow vertical resizing only 
*/
textarea {
  overflow: auto;
  /* (1) */
  vertical-align: top;
  /* (2) */
  resize: vertical;
  /* (3) */
  min-height: 5em; }

/*
	(1) Addresses `appearance` set to `searchfield` in Safari 5 and Chrome
	(2) Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof).
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* (1) */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* (2) */ }

/* Removes inner padding and search cancel button in Safari 5 and Chrome on OS X */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* Removes inner padding and border in FF3+ */
button::-moz-focus-inner, input[type='button']::-moz-focus-inner, input[type='reset']::-moz-focus-inner, input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*-----------------------------------------------------------------------
  == TOOLS
----------------------------------------------------------------------- */
/* Clearfix (cf. http://nicolasgallagher.com/micro-clearfix-hack) */
.cf {
  zoom: 1; }

.cf:before, .cf:after {
  content: "";
  display: block; }

.cf:after {
  clear: both; }

/* Reset margin/padding/border */
.no-mg {
  margin: 0; }

.no-pd {
  padding: 0; }

.no-bd {
  border: 0; }

/* Float */
.f-left {
  float: left; }

.f-right {
  float: right; }

.clear {
  clear: both; }

/* Alignement */
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-top {
  vertical-align: top; }

.align-btm {
  vertical-align: bottom; }

/* Images */
.img-left {
  float: left;
  margin: 0 1em 1em 0; }

.img-right {
  float: right;
  margin: 0 0 1em 1em; }

.img-center {
  margin: 1em auto;
  display: block; }

/* Hide content */
.is-hidden, .wrapper-nav-main .lnk-home a span, .lnk-top span, .lmtm-social a span, .member-social li a span {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  border: 0; }

/* Image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }

/* Nav menu */
.nav li {
  display: inline-block;
  list-style: none; }
.nav a {
  display: inline-block;
  text-decoration: none; }

/*-----------------------------------------------------------------------
  == RWD
----------------------------------------------------------------------- */
/* Viewport fixing for RWD  */
@-webkit-viewport {
  width: device-width;
  zoom: 1.0; }
@-moz-viewport {
  width: device-width;
  zoom: 1.0; }
@-ms-viewport {
  width: device-width;
  zoom: 1.0; }
@-o-viewport {
  width: device-width;
  zoom: 1.0; }
@viewport {
  width: device-width;
  zoom: 1.0; }
/*-----------------------------------------------------------------------
  == PRINT
----------------------------------------------------------------------- */
@media print {
  p, blockquote {
    orphans: 2;
    widows: 2; }

  blockquote, ul, ol {
    page-break-inside: avoid; }

  h1, h2, h3, caption {
    page-break-after: avoid; } }
/*
	GLOBAL
	Styles for the whole project

	SUMMARY
	Typography
	Forms
	Tables
	Layout
*/
/*-----------------------------------------------------------------------
  == TYPOGRAPHY
----------------------------------------------------------------------- */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #333; }

/* Titles
------------------------- */
.title-main {
  position: relative;
  margin-bottom: 60px;
  color: #000;
  font-size: 40px;
  line-height: 1em;
  font-weight: 700; }
  @media (min-width: 70em) {
    .title-main:before {
      display: inline-block;
      position: absolute;
      content: "";
      top: 50%;
      margin-top: -4px;
      left: calc(-4em + 47px);
      width: 47px;
      height: 7px;
      background: #f8911b; } }

.title-second {
  margin: 30px 0;
  color: #000;
  font-weight: 400;
  font-size: 26px; }

/* Links
------------------------- */
a {
  text-decoration: underline; }
  a:hover, a:focus {
    text-decoration: none; }

/* Buttons
------------------------- */
.btn, .lnk-more a {
  display: inline-block;
  padding: 10px 20px;
  background: #955D4D;
  color: #fff;
  border: none;
  text-decoration: none;
  font-size: 20px;
  line-height: 1em;
  font-weight: 500; }
  .btn:hover, .lnk-more a:hover, .btn:focus, .lnk-more a:focus {
    background: #774a3d; }
  .content .btn, .content .lnk-more a, .lnk-more .content a {
    color: #fff; }

/*-----------------------------------------------------------------------
  == LAYOUT
----------------------------------------------------------------------- */
.wrap {
  *zoom: 1;
  max-width: 104em;
  _width: 104em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: "";
    display: table;
    clear: both; }

.section {
  position: relative; }
  .section > .wrap {
    padding-top: 70px;
    padding-bottom: 70px; }

.section-alt {
  position: relative;
  background: #f3ede6; }

@media (min-width: 70em) {
  .inner {
    width: 65.38462%;
    float: left;
    margin-right: 3.84615%;
    padding-left: 23.07692%;
    padding-right: 11.53846%; } }

.block {
  margin-bottom: 50px;
  padding: 30px;
  background: #fff; }

@media (min-width: 50em) {
  .blocks-col-left {
    width: 47.05882%;
    float: left;
    margin-right: 5.88235%; } }

@media (min-width: 50em) {
  .blocks-col-right {
    width: 47.05882%;
    float: right;
    margin-right: 0; } }
.blocks-col-right > .block:first-child {
  margin-top: 50px; }

/*-----------------------------------------------------------------------
  == CONTENT
----------------------------------------------------------------------- */
.content p, .content ul {
  margin-bottom: 1.5em; }
  .content p:last-child, .content ul:last-child {
    margin-bottom: 0; }
.content ul li {
  position: relative;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 0;
  list-style: disc;
  list-style-position: outside; }
.content a {
  color: #aa6c5a; }
.content strong {
  color: #000; }

/*-----------------------------------------------------------------------
  == SHARED
----------------------------------------------------------------------- */
.title-main, .title-second, .btn, .lnk-more a, .wrapper-nav-main, .page-title, .btn-contact, .mean-container .mean-nav ul li a, .footer-title, .nav-footer, .home-service-title, .service-title, .idea-title, .field .input {
  font-family: 'Cabin', sans-serif; }

.block, .service, .contact-us, .idea-card, .field .input, .form-notice {
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 5px 5px 0; }

.title-main, .lnk-top, .nav-footer {
  -moz-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
  -moz-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease; }

/* Plugins */
/*! #######################################################################

	MeanMenu
	--------
	
	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */
/* hide the link until viewport size is reached */
a.meanmenu-reveal {
  display: none; }

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
  float: left;
  width: 100%;
  position: relative;
  background: #0c1923;
  padding: 4px 0;
  min-height: 42px;
  z-index: 999999; }

.mean-container a.meanmenu-reveal {
  width: 22px;
  height: 22px;
  padding: 13px 13px 11px 13px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700; }

.mean-container a.meanmenu-reveal span {
  display: block;
  background: #fff;
  height: 3px;
  margin-top: 3px; }

.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: #0c1923;
  margin-top: 33px; }

.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none; }

.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%; }

.mean-container .mean-nav ul li a {
  display: block;
  float: left;
  width: 90%;
  padding: 1em 5%;
  margin: 0;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #383838;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none; }

.mean-container .mean-nav ul li li a {
  width: 80%;
  padding: 1em 10%;
  border-bottom: 1px solid #f1f1f1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  opacity: 0.75;
  filter: alpha(opacity=75);
  text-shadow: none !important;
  visibility: visible; }

.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0; }

.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 1em 15%; }

.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 1em 20%; }

.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 1em 25%; }

.mean-container .mean-nav ul li a:hover {
  background: #252525;
  background: rgba(255, 255, 255, 0.1); }

.mean-container .mean-nav ul li a.mean-expand {
  width: 26px;
  height: 26px;
  border: none !important;
  padding: 12px !important;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700; }

.mean-container .mean-nav ul li a.mean-expand:hover {
  background: none; }

.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both; }

.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0; }

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* required styles */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0; }

.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none; }

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block; }

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important; }

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important; }

.leaflet-tile {
  filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0; }

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-tile-pane {
  z-index: 2; }

.leaflet-objects-pane {
  z-index: 3; }

.leaflet-overlay-pane {
  z-index: 4; }

.leaflet-shadow-pane {
  z-index: 5; }

.leaflet-marker-pane {
  z-index: 6; }

.leaflet-popup-pane {
  z-index: 7; }

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto; }

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1); }

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer; }

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.leaflet-popup-pane,
.leaflet-control {
  cursor: auto; }

.leaflet-dragging,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline: 0; }

.leaflet-container a {
  color: #0078A8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid orange; }

.leaflet-zoom-box {
  border: 2px dotted #05f;
  background: white;
  opacity: 0.5; }

/* general typography */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* general toolbar styles */
.leaflet-bar {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.leaflet-bar a, .leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: #f4f4f4; }

.leaflet-bar a:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

.leaflet-bar a:last-child {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb; }

.leaflet-touch .leaflet-bar {
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px; }

.leaflet-touch .leaflet-bar a:first-child {
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px; }

.leaflet-touch .leaflet-bar a:last-child {
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom: none; }

/* zoom control */
.leaflet-control-zoom-in {
  font: bold 18px 'Lucida Console', Monaco, monospace; }

.leaflet-control-zoom-out {
  font: bold 22px 'Lucida Console', Monaco, monospace; }

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
  line-height: 30px; }

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 28px;
  line-height: 30px; }

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  background: #f8f8f9;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  margin: 0; }

.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333; }

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  color: black;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #fff;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow: hidden; }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 4px solid rgba(0, 0, 0, 0.3); }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  -webkit-border-radius: 12px;
  border-radius: 12px; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

.leaflet-editing-icon {
  -webkit-border-radius: 2px;
  border-radius: 2px; }

/* Layout */
/*
    HEADER
*/
.header {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 3px;
  overflow: hidden;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1; }
  .header .logo {
    margin-bottom: 0; }
    @media (max-width: 55em) {
      .header .logo {
        text-align: center; } }
    @media (min-width: 55em) {
      .header .logo {
        width: 19.23077%;
        float: left;
        margin-right: 3.84615%; }
        .header .logo img {
          display: block;
          margin: 0 auto; } }
    @media (min-width: 70em) {
      .header .logo img {
        float: right; } }
  @media (max-width: 680px) {
    .header {
      padding-top: 15px;
      padding-bottom: 15px; } }

.wrapper-nav-main {
  padding-top: 18px; }
  @media (max-width: 55em) {
    .wrapper-nav-main {
      text-align: center; } }
  @media (min-width: 55em) {
    .wrapper-nav-main {
      width: 76.92308%;
      float: right;
      margin-right: 0; } }

.nav-main > li {
  position: relative; }
  .nav-main > li > a {
    -moz-transition: color 0.1s ease;
    -o-transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
    font-size: 20px;
    font-weight: 400;
    line-height: 1em;
    color: #000; }
    .nav-main > li > a:hover, .nav-main > li > a:focus {
      color: #aa6c5a; }
.header .nav-main > li + li {
  margin-left: 40px; }
.nav-main > .current > a {
  color: #aa6c5a; }

.nav-sub {
  display: none;
  position: absolute;
  top: calc(100% + 13px);
  left: calc(50% + 37px);
  width: 600px;
  font-size: 15px; }
  @media (min-width: 55em) {
    .current .nav-sub {
      display: block; } }
  .nav-sub li + li {
    margin-left: 20px; }
    .nav-sub li + li:before {
      content: "|";
      position: relative;
      top: 1px;
      left: -11px;
      color: #000; }
  .nav-sub a {
    -moz-transition: color 0.1s ease;
    -o-transition: color 0.1s ease;
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
    color: #888;
    font-weight: 400;
    line-height: 1em;
    border-bottom: 1px solid #d3d3d3; }
    .nav-sub a:hover, .nav-sub a:focus {
      color: #955D4D;
      border-color: #955D4D; }
  .nav-sub:before {
    position: absolute;
    bottom: 10px;
    left: -37px;
    content: "";
    width: 23px;
    height: 23px;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3; }

.wrapper-nav-main .lnk-home a {
  height: 18px;
  width: 20px;
  background-position: 0 -140px; }

/*
    BANNER
*/
.banner {
  background: #f8911b url(../img/bg-banner.png) repeat-y -300px 0; }
  @media (min-width: 40em) {
    .banner {
      background-position: -200px 0; } }
  @media (min-width: 80em) {
    .banner {
      background-position: 0 0; } }
  @media (max-width: 680px) {
    .banner {
      padding-top: 0; } }
  .banner > .wrap {
    padding-top: 50px; }
    @media (min-width: 40em) {
      .banner > .wrap {
        padding-bottom: 50px; } }

.banner-home {
  position: relative; }
  @media (min-width: 40em) and (max-width: 80em) {
    .banner-home {
      width: 76.92308%;
      float: left;
      margin-right: 3.84615%;
      padding-left: 23.07692%; } }
  @media (min-width: 80em) {
    .banner-home {
      width: 53.84615%;
      float: left;
      margin-right: 3.84615%;
      padding-left: 23.07692%;
      padding-right: 23.07692%; } }
  .banner-home p {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 1.5em;
    color: #fff; }
    @media (min-width: 40em) {
      .banner-home p {
        padding-left: 100px; } }
    .banner-home p:last-of-type {
      margin-bottom: 0; }

.banner-home-wrap {
  position: relative; }

.banner-text p {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 1.5em;
  color: #fff; }
  .banner-text p:last-of-type {
    margin-bottom: 0; }

@media (max-width: 40em) {
  .mascot {
    display: block;
    margin: 30px auto 0; } }
@media (min-width: 40em) {
  .mascot {
    position: absolute;
    bottom: -50px;
    left: -380px; } }

.page-title {
  display: inline-block;
  margin-bottom: 40px;
  padding: 20px 25px;
  font-size: 44px;
  line-height: 1em;
  font-weight: 700;
  color: #fff;
  background: rgba(0, 0, 0, 0.4); }
  .page-title em {
    font-style: normal;
    color: #feb313; }
  @media (max-width: 35em) {
    .page-title {
      font-size: 36px; } }

@media (min-width: 80em) {
  .banner-contact {
    width: 29.41176%;
    float: right;
    margin-right: 0; } }

.btn-contact {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 8px;
  display: inline-block;
  padding: 20px 25px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1em;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.85);
  color: #9f4133; }
  @media (min-width: 80em) {
    .btn-contact {
      margin-top: 30px; } }

/* Mobile menu */
.mean-container .mean-bar {
  margin-bottom: 45px;
  background: #f3ede6;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 5px 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 3px; }
.mean-container .mean-nav {
  background: #f3ede6; }
  .mean-container .mean-nav ul li a {
    font-weight: 400;
    color: #000;
    border-bottom-color: white; }
  .mean-container .mean-nav ul .current a {
    color: #f8911b; }
.mean-container a.meanmenu-reveal {
  color: #000; }
  .mean-container a.meanmenu-reveal span {
    background: #000; }

/*
    FOOTER
*/
.footer {
  position: relative;
  background: #4c2923;
  color: #fff; }
  .footer a {
    color: #955d4d; }

.footer-home {
  padding: 60px 0 0; }

.footer-title {
  display: inline-block;
  margin-bottom: 60px;
  padding: 20px 25px;
  font-size: 44px;
  font-weight: 700;
  line-height: 1em;
  color: #fff;
  background: rgba(0, 0, 0, 0.4); }
  @media (max-width: 35em) {
    .footer-title {
      font-size: 36px; } }
  .footer-title strong {
    color: #955d4d; }

@media (min-width: 60em) {
  .footer-col {
    width: 47.05882%;
    float: left;
    margin-right: 5.88235%; } }

.footer-col-lmtm {
  position: relative; }
  @media (min-width: 60em) {
    .footer-col-lmtm {
      padding-bottom: 100px; } }

.footer-col-ooz {
  float: right;
  margin-right: 0;
  *margin-left: -4em;
  display: inline; }

@media (min-width: 40em) {
  .footer-content {
    width: 64.70588%;
    float: right;
    margin-right: 0; } }
.footer-content p {
  margin-bottom: 1.5em; }

.footer-logo {
  text-align: center; }
  @media (max-width: 40em) {
    .footer-logo {
      margin-bottom: 30px; } }
  @media (min-width: 40em) {
    .footer-logo {
      width: 29.41176%;
      float: left;
      margin-right: 5.88235%; } }

.lnk-top {
  position: absolute;
  top: -70px;
  right: 30px;
  background: #955D4D;
  width: 70px;
  height: 70px; }
  .lnk-top:before {
    height: 14px;
    width: 25px;
    background-position: 0 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -12.5px; }
  .lnk-top:hover, .lnk-top:focus {
    background: #774a3d; }

.nav-footer {
  padding: 50px 0;
  font-size: 18px;
  line-height: 1.5em; }
  .nav-footer a:hover, .nav-footer a:focus, .nav-footer .current a {
    color: #fff; }
  @media (max-width: 50em) {
    .nav-footer {
      text-align: center; }
      .nav-footer li {
        display: block; }
        .nav-footer li a {
          display: block;
          padding: 10px 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
        .nav-footer li:first-child a {
          border-top: 1px solid rgba(255, 255, 255, 0.2); } }
  @media (min-width: 50em) {
    .nav-footer li + li {
      margin-left: 30px; }
      .nav-footer li + li:before {
        content: "|";
        position: relative;
        left: -15px;
        color: rgba(255, 255, 255, 0.2); } }

.lmtm-contact {
  display: inline-block; }

.lmtm-phone {
  position: relative;
  padding-left: 21px;
  margin-right: 20px;
  font-weight: 600;
  color: #955d4d;
  text-transform: uppercase; }
  .lmtm-phone:before {
    height: 16px;
    width: 16px;
    background-position: 0 -277px;
    position: absolute;
    top: 4px;
    left: 0;
    content: ""; }

.lmtm-email {
  position: relative;
  padding-left: 24px;
  font-weight: 600; }
  .lmtm-email:before {
    height: 16px;
    width: 16px;
    background-position: 0 -239px;
    position: absolute;
    top: 3px;
    left: 0;
    content: ""; }

/* Social icons */
.lmtm-social {
  display: block;
  margin: 0; }
  @media (max-width: 60em) {
    .footer-home .lmtm-social {
      margin-bottom: 50px; } }
  @media (min-width: 60em) {
    .footer-home .lmtm-social {
      position: absolute;
      bottom: 0;
      left: 0; } }
  .lmtm-social li {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    list-style: none; }
    .lmtm-social li + li a {
      margin-left: 30px; }
  .lmtm-social a {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.35); }
    .lmtm-social a:before {
      display: inline-block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%; }

.lnk-twitter a:before {
  height: 40px;
  width: 44px;
  background-position: 0 -392px;
  margin-top: -20px;
  margin-left: -22px; }

.lnk-linkedin a:before {
  height: 42px;
  width: 42px;
  background-position: 0 -197px;
  margin-top: -21px;
  margin-left: -21px; }

.footer-lmtm .lmtm-social {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  margin-right: 20px; }
.footer-lmtm .lmtm-address {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 0;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8em; }
  @media (max-width: 50em) {
    .footer-lmtm .lmtm-address {
      padding: 50px 0; } }
@media (min-width: 50em) {
  .footer-lmtm .lmtm-phone {
    margin-left: 30px; } }
@media (max-width: 50em) {
  .footer-lmtm {
    text-align: center; } }

@media (max-width: 50em) {
  .lmtm-contact {
    display: block; } }

/* Bottom bar */
.btm {
  padding: 12px 0 12px;
  background: #000;
  text-align: center; }
  @media (min-width: 70em) {
    .btm {
      text-align: right; } }

.nav-btm {
  display: block;
  font-size: 14px;
  line-height: 1em; }
  .nav-btm a {
    color: #6d6f72;
    text-decoration: underline; }
    .nav-btm a:hover, .nav-btm a:focus {
      text-decoration: none; }
  .nav-btm li + li a {
    margin-left: 20px; }

/* Templates */
/*
    HOMEPAGE
*/
.lnk-more a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff; }
  .lnk-more a:before {
    margin-top: -10px;
    margin-left: -10px;
    height: 20px;
    width: 20px;
    background-position: 0 -333px; }
@media (max-width: 70em) {
  .lnk-more {
    padding: 50px 0 0;
    clear: both;
    text-align: center; } }
@media (min-width: 70em) {
  .lnk-more {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -35px; }
    .lnk-more a {
      padding: 0;
      width: 70px;
      height: 70px; }
      .lnk-more a span {
        display: none; }
      .lnk-more a:before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: ""; } }

/* Technologies */
@media (max-width: 50em) {
  .home-techno {
    margin-bottom: 50px; }
    .home-techno.last {
      margin-bottom: 0; } }
@media (min-width: 50em) {
  .home-techno {
    width: 47.05882%;
    float: left;
    margin-right: 5.88235%; }
    .home-techno.last {
      float: right;
      margin-right: 0; } }

@media (max-width: 50em) {
  .home-techno-logo img {
    display: inline-block;
    max-width: 180px;
    margin-bottom: 20px; } }
@media (min-width: 50em) {
  .home-techno-logo {
    width: 29.41176%;
    float: left;
    margin-right: 5.88235%; } }

@media (min-width: 50em) {
  .home-techno-txt {
    width: 64.70588%;
    float: right;
    margin-right: 0; } }

.lnk-technos-more a {
  background: #f8911b; }

/* Services */
.home-services {
  background: #955d4d; }
  .home-services .title-main {
    color: #fff; }

.home-service {
  text-align: left; }
  .home-service:first-of-type, .home-service:nth-child(2) {
    margin-bottom: 50px; }
  @media (max-width: 50em) {
    .home-service {
      margin-bottom: 50px; } }
  @media (min-width: 50em) {
    .home-service {
      width: 47.05882%;
      float: left;
      margin-right: 5.88235%; }
      .home-service.last {
        float: right;
        margin-right: 0; } }

.home-service-row {
  display: table; }

.home-service-cell {
  display: table-cell;
  vertical-align: top; }

.home-service-picto {
  display: inline-block;
  float: left;
  margin-right: 30px;
  width: 110px;
  height: 110px;
  line-height: 110px;
  border-radius: 110px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center; }
  .home-service-picto img {
    display: inline-block;
    vertical-align: middle; }

.home-service-title {
  margin: 5px 0 10px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1em;
  color: #fff; }

.home-service-desc {
  text-align: left;
  color: #dbcac6; }
  .home-service-desc a {
    color: #fff; }
    .home-service-desc a + span {
      color: #fff; }

.lnk-services-more a {
  background: rgba(0, 0, 0, 0.2); }
  .lnk-services-more a:hover, .lnk-services-more a:focus {
    background: rgba(0, 0, 0, 0.3); }

/*
    TECHNOLOGIES
*/
@media (max-width: 50em) {
  .techno-col {
    margin-bottom: 30px; } }
@media (min-width: 50em) {
  .techno-col {
    width: 47.05882%;
    float: left;
    margin-right: 5.88235%; }
    .techno-col.last {
      width: 47.05882%;
      float: right;
      margin-right: 0; } }

.techno-logo {
  margin: 0;
  padding: 30px 0;
  background: #f3ede6; }
  .techno-logo img {
    max-width: 220px; }

/*
    SERVICES
*/
.service {
  margin-bottom: 50px;
  padding: 30px;
  background: #fff; }

@media (min-width: 50em) {
  .services-col-left {
    width: 47.05882%;
    float: left;
    margin-right: 5.88235%; } }

@media (min-width: 50em) {
  .services-col-right {
    width: 47.05882%;
    float: right;
    margin-right: 0; } }
.services-col-right > .service:first-child {
  margin-top: 50px; }

.service-title {
  display: block;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  color: #000; }
  .service-title > span, .service-title > img {
    display: inline-block;
    vertical-align: middle; }
  .service-title > img {
    margin-left: 10px; }
  .service-title:before {
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 20px; }

.service-title-conseil:before {
  height: 32px;
  width: 32px;
  background-position: 0 -69px;
  top: 5px; }

.service-title-dvpt:before {
  height: 24px;
  width: 38px;
  background-position: 0 -45px;
  top: 2px; }

.service-title-formation:before {
  height: 22px;
  width: 42px;
  background-position: 0 -255px;
  top: 2px; }

.contact-us {
  padding: 0;
  background: #f8911b;
  color: #fff;
  text-align: center; }
  @media (max-width: 50em) {
    .contact-us {
      margin-bottom: 50px; } }
  .contact-us .contact-us-txt {
    width: 200px;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Coming Soon', cursive;
    opacity: 0.75;
    font-size: 22px; }
  .contact-us .contact-us-btn {
    display: inline-block;
    vertical-align: middle;
    margin: 15px; }
    .contact-us .contact-us-btn a {
      background: #FFB430;
      color: #fff; }
      .contact-us .contact-us-btn a:hover, .contact-us .contact-us-btn a:focus {
        background: #ffbb44; }

/*
    COMPANY
*/
/* Team */
.member {
  margin-bottom: 45px;
  list-style: none; }
  @media (min-width: 55em) {
    .member {
      width: 47.05882%;
      float: left;
      margin-right: 5.88235%; }
      .member:nth-child(2n) {
        float: right;
        margin-right: 0; } }
  .member.last {
    margin-bottom: 0; }

.member-inside {
  position: relative; }
  @media (min-width: 35em) {
    .member-inside {
      padding-left: 140px; } }

@media (max-width: 35em) {
  .member-pic {
    display: block;
    margin-bottom: 20px; } }
@media (min-width: 35em) {
  .member-pic {
    position: absolute;
    top: 0;
    left: 0; } }

.member-name {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1em;
  color: #000; }

.member-job {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1em;
  color: #888; }

.member-bio {
  margin-bottom: 25px; }

.member-social li {
  margin-right: 10px; }
.member-social .twitter a {
  height: 39px;
  width: 40px;
  background-position: 0 -353px; }
.member-social .linkedin a {
  height: 39px;
  width: 40px;
  background-position: 0 -158px; }
.member-social .github a {
  height: 39px;
  width: 40px;
  background-position: 0 -101px; }
.member-social .viadeo a {
  height: 39px;
  width: 40px;
  background-position: 0 -432px; }

/* Philosophy */
.idea {
  margin-bottom: 50px; }
  @media (min-width: 80em) {
    .idea {
      width: 29.41176%;
      float: left;
      margin-right: 5.88235%; }
      .idea.last {
        float: right;
        margin-right: 0; } }
  @media (min-width: 60em) and (max-width: 70em) {
    .idea {
      width: 29.41176%;
      float: left;
      margin-right: 5.88235%; }
      .idea.last {
        float: right;
        margin-right: 0; } }

.idea-title {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px; }

.idea-card {
  position: relative;
  padding: 40px 25px 25px;
  background: #616aa0;
  color: #fff; }
  @media (min-width: 80em) {
    .idea-card {
      min-height: 350px; } }

.idea-front {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 40px;
  background: #fff;
  opacity: 1; }

.idea-open {
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  height: 40px;
  width: 41px;
  background-position: 0 -293px;
  content: "";
  position: absolute;
  bottom: 25px;
  right: 25px;
  cursor: pointer; }
  .idea-open:hover {
    opacity: .8; }

.idea-close {
  -moz-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  height: 31px;
  width: 32px;
  background-position: 0 -14px;
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer; }
  .idea-close:hover {
    opacity: .8; }

/*
    CONTACT
*/
/* Map */
@media (max-width: 70em) {
  #contact-map {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 350px; } }
@media (min-width: 70em) {
  #contact-map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 35%; } }

.leaflet-popup-content-wrapper {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

.leaflet-container {
  font-family: "adelle", serif;
  font-weight: 400;
  font-size: 15px;
  color: #333; }
  .leaflet-container .tel-mail {
    color: #000;
    font-size: 16px;
    font-weight: 600; }
    .leaflet-container .tel-mail a {
      color: #616aa0; }
  .leaflet-container .tel {
    text-transform: uppercase; }

.leaflet-control-attribution {
  display: none; }

/* Contact form */
.contact-form {
  padding-top: 70px;
  position: relative;
  z-index: 2;
  background: #f3ede6; }
  @media (max-width: 70em) {
    .contact-form {
      margin-bottom: 400px; } }
  @media (min-width: 70em) {
    .contact-form {
      width: 64.70588%;
      float: left;
      margin-right: 5.88235%;
      padding-bottom: 70px;
      padding-right: 4em; } }

.fields-required {
  margin-bottom: 30px;
  color: #888;
  font-style: italic; }
  .fields-required span {
    color: #616aa0; }

.required {
  color: #616aa0; }

.form-half {
  width: 47.05882%;
  float: left;
  margin-right: 5.88235%;
  display: inline; }
  .form-half.last {
    float: right;
    margin-right: 0;
    *margin-left: -4em;
    display: inline; }

.field {
  margin-bottom: 50px; }
  .field .input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    width: 100%;
    padding: 15px;
    background: #fff;
    border: none;
    color: #888;
    font-size: 18px; }
    .field .input:focus {
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 0;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 0;
      box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 0;
      outline: none; }
  .field textarea {
    height: 200px; }
  .field label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400; }

.field-error label {
  color: #C94331; }
.field-error .input {
  -moz-box-shadow: rgba(201, 67, 49, 0.15) 10px 10px 0;
  -webkit-box-shadow: rgba(201, 67, 49, 0.15) 10px 10px 0;
  box-shadow: rgba(201, 67, 49, 0.15) 10px 10px 0; }
  .field-error .input:focus {
    -moz-box-shadow: rgba(201, 67, 49, 0.25) 10px 10px 0;
    -webkit-box-shadow: rgba(201, 67, 49, 0.25) 10px 10px 0;
    box-shadow: rgba(201, 67, 49, 0.25) 10px 10px 0; }

.field-submit {
  margin-bottom: 0; }

.form-notice {
  margin: 30px 0;
  padding: 15px;
  color: #fff;
  font-weight: 400; }

.form-notice-error {
  background: #C94331; }

.form-notice-success {
  background: #1f894e; }

/*
    REFERENCES
*/
.reference {
  position: relative; }

.reference-title {
  margin: 25px 0 0;
  text-align: center;
  font-size: 18px; }

.reference-logo {
  display: block;
  margin: 0 auto; }

.reference-content {
  display: none;
  padding-top: 20px;
  color: #888;
  font-size: 14px; }

.reference-btn {
  position: absolute;
  bottom: -25px;
  right: 30px;
  height: 25px;
  line-height: 25px;
  width: 40px;
  border: 0;
  line-height: 1em;
  background: #f8911b;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 18px; }
  .reference-btn:hover, .reference-btn:focus {
    background: #f99d34; }
  .is-open .reference-btn {
    background: #955d4d; }
    .is-open .reference-btn:hover, .is-open .reference-btn:focus {
      background: #a66756; }
  .reference-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: rgba(0, 0, 0, 0.05); }
