# Mac
.DS_Store
*.codekit

# SASS
*.sass-cache

# SublimeText
/*.sublime-project
*.sublime-workspace
sftp-config*.json
node_modules
npm-debug.log

# served by local http server
build
# deploy on S3
aws-credentials.json
build-gzip

# node-version
.node-version
