/*
    BANNER
*/
.banner {
	position: relative;
	overflow: hidden;
	background: #f8911b url(../img/bg-banner.png) repeat-y -300px 0;
	@media (min-width: 40em) {
		background-position: -200px 0;
	}
	@media (min-width: 80em) {
		background-position: 0 0;
	}
	@media (max-width: 680px) {
		padding-top: 0; // Allow mobile menu to be positioned correctly
	}
	> .wrap {
		padding-top: 50px;
		padding-bottom: 50px;
		.home {
			@media (max-width: 40em) {
				padding-bottom: 0;
			}
		}
	}
	@media (min-width: 40em) {
		&:after {
			content: '';
			position: absolute;
			right: -90px;
			top: 50%;
			margin-top: -190px;
			background: url(../img/cogs.png) no-repeat 0 0;
			width: 395px;
			height: 456px;
		}
	}
}
.banner-home {
	position: relative;
	@media (min-width: 40em) and (max-width: 80em) {
		@include span-columns(7,9);
		@include prefix(2,9);
	}
	@media (min-width: 80em) {
		@include span-columns(5,9);
		@include prefix(2,9);
		@include suffix(2,9);
	}
	p {
		margin-bottom: 30px;
		@media (min-width: 40em) {
			padding-left: 100px;
		}
		font-size: 22px;
		line-height: 1.5em;
		color: #fff;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
.banner-home-wrap {
	position: relative;
}
.banner-text {
	p {
		margin-bottom: 30px;
		font-size: 22px;
		line-height: 1.5em;
		color: #fff;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
.mascot {
	@media (max-width: 40em) {
		display: block;
		margin: 30px auto 0;
	}
	@media (min-width: 40em) {
		position: absolute;
		bottom: -50px;
		left: -380px;
	}
}
.page-title {
	@extend %font-titles;
	display: inline-block;
	margin-bottom: 40px;
	padding: 20px 25px;
	font-size: 44px;
	line-height: 1em;
	font-weight: 700;
	color: #fff;
	background: rgba(#000,0.4);
	em {
		font-style: normal;
		color: $color-yellow;
	}
	@media (max-width: 35em) {
		font-size: 36px;
	}
}
.banner-contact {
	@media (min-width: 80em) {
		@include span-columns(2 omega,6);
	}
}
.btn-contact {
	@extend %font-titles;
	box-shadow: rgba(#000,0.2) 5px 5px 8px;
	display: inline-block;
	padding: 20px 25px;
	font-weight: 400;
	font-size: 28px;
	line-height: 1em;
	text-decoration: none;
	background: rgba(#fff,0.85);
	color: #9f4133;
	@media (min-width: 80em) {
		margin-top: 30px;
	}
}

/* Mobile menu */
.mean-container {
	.mean-bar {
		margin-bottom: 45px;
		background: #f3ede6;
		box-shadow: rgba(#000,0.1) 0 5px 3px;
	}
	.mean-nav {
		background: #f3ede6;
		ul li a {
			@extend %font-titles;
			font-weight: 400;
			color: #000;
			border-bottom-color: rgba(#fff,1);
		}
		ul .current a {
			color: #f8911b;
		}
	}
	a.meanmenu-reveal {
		color: #000;
		span {
			background: #000;
		}
	}
}
