/*
    BANNER
*/
.banner {
	position: relative;
	overflow: hidden;
	background: $color-orange url(../img/bg-banner.png) repeat-y -300px 0;

	@media (min-width: 40em) {
		background-position: -200px 0;
	}
	@media (min-width: 80em) {
		background-position: 0 0;
	}
	@media (max-width: 680px) {
		padding-top: 0; // Allow mobile menu to be positioned correctly
	}

	> .wrap {
		padding-top: 50px;
		padding-bottom: 50px;
		.home {
			@media (max-width: 40em) {
				padding-bottom: 0;
			}
		}
	}
}

.home .banner {
	overflow: visible;

	.wrap {
		padding-bottom: 0;
	}
}

.home-banner {
	display: flex;
	position: relative;
	@media (min-width: 40em) and (max-width: 80em) {
		padding: 0 0 0 22%;
	}
	@media (min-width: 80em) {
		padding: 0 22% 0 0;
	}
	p {
		color: #fff;
		font-size: 26px;
		font-weight: bold;
		line-height: 1.5em;
		margin-bottom: 30px;
		text-align: center;
		text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.mascot {
		height: 395px;
		margin-right: 50px;
		width: 424px;
	}

	.avatars {
		display: flex;
		justify-content: space-around;
		margin-bottom: 30px;
		position: relative;

		.avatar {
			color: white;
			display: block;
			font-weight: bold;
			text-align: center;
			text-decoration: none;

			img {
				background: white;
				border: 10px solid white;
				border-radius: 50%;
				box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
				display: block;
				height: 110px;
				margin-bottom: 5px;
				transition: all 0.2s ease;
				width: 110px;
			}

			img:hover {
				transform: scale(1.1, 1.1);
			}
		}
	}
}

.banner-text {
	p {
		margin-bottom: 30px;
		font-size: 22px;
		line-height: 1.5em;
		color: #fff;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
.page-title {
	@extend $font-titles;
	display: inline-block;
	margin-bottom: 40px;
	padding: 20px 25px;
	font-size: 44px;
	line-height: 1em;
	font-weight: 700;
	color: #fff;
	background: rgba(#000,0.4);
	em {
		font-style: normal;
		color: $color-yellow;
	}
	@media (max-width: 35em) {
		font-size: 36px;
	}
}

/* Mobile menu */
.mean-container {
	.mean-bar {
		margin-bottom: 45px;
		background: $color-sand;
		box-shadow: rgba(#000,0.1) 0 5px 3px;
	}
	.mean-nav {
		background: $color-sand;
		ul li a {
			@extend $font-titles;
			font-weight: 400;
			color: #000;
			border-bottom-color: rgba(#fff,1);
		}
		ul .current a {
			color: $color-orange;
		}
	}
	a.meanmenu-reveal {
		color: #000;
		span {
			background: #000;
		}
	}
}
