/*
    FOOTER
*/
.footer {
	position: relative;
	background: $color-brown;
	color: $color-white;
	padding: 50px 0 0;
	a {
		color: $color-white;
	}
}
.footer-title {
	@extend $font-titles;
	display: inline-block;
	margin-bottom: 50px;
	padding: 20px 25px;
	font-size: 44px;
	line-height: 1em;
	color: $color-white;
	background: rgba(#000,0.4);
	text-align: center;
	@media (max-width: 35em) {
		display: block;
		font-size: 36px;
	}
	strong {
		color: $color-light-brown;
	}
}

.footer-cols {
	@media (min-width: 60em) {
		display: flex;
		justify-content: space-between;
	}
}
	.footer-col {
		display: flex;
		justify-content: space-between;
		@media (min-width: 60em) {
			width: 48%;
		}
	}
	.footer-col-byteclub {
		position: relative;
		@media (min-width: 60em) {
			padding-bottom: 100px;
		}
	}
		.footer-logo {
			text-align: right;
			@media (max-width: 40em) {
				margin-bottom: 30px;
			}
			@media (min-width: 40em) {
				width: 32%;
			}
		}
		.footer-content {
			@media (min-width: 40em) {
				width: 64%;
			}
			p {
				margin-bottom: 1.5em;
			}
		}

.lnk-top {
	@extend $transition;
	position: absolute;
	top: -70px;
	right: 30px;
	background: $color-light-brown;
	width: 70px;
	height: 70px;
	text-decoration: none;
	span {
		@extend .is-hidden;
	}
	&:before {
		content: '^';
		display: block;
		font-size: 6em;
		height: 70px;
		position: relative;
		text-align: center;
		top: 50%;
		width: 70px;
	}
	&:hover, &:focus {
		background: shade($color-light-brown,20);
	}
}
.nav-footer {
	@extend $font-titles;
	@extend $transition;
	padding: 0 0 50px 0;
	font-size: 18px;
	line-height: 1.5em;
	a {
		color: $color-light-brown;
	}
	a:hover, a:focus, .current a {
		color: $color-white;
	}
	@media (max-width: 50em) {
		text-align: center;
		li {
			display: block;
			a {
				display: block;
				padding: 10px 0;
				border-bottom: 1px solid rgba($color-white,0.2);
			}
			&:first-child a {
				border-top: 1px solid rgba($color-white,0.2);
			}
		}
	}
	@media (min-width: 50em) {
		li + li {
			margin-left: 30px;
			&:before {
				content: "|";
				position: relative;
				left: -15px;
				color: rgba($color-white,0.2);
			}
		}
	}
}
.byteclub-contact {
	display: inline-block;
}
.byteclub-phone {
	position: relative;
	margin-right: 20px;
	text-transform: uppercase;
	i {
		color: $color-white;
		margin-right: .5em;
	}
}
.byteclub-email {
	position: relative;
	i {
		color: $color-white;
		margin-right: .5em;
	}
}

/* Social icons */
.byteclub-social {
	display: block;
	margin: 0;
	.footer-home & {
		@media (max-width: 60em) {
			margin-bottom: 50px;
		}
		@media (min-width: 60em) {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	li {
		display: inline-block;
		vertical-align: bottom;
		margin: 0;
		list-style: none;
		+ li {
			margin-left: 30px;
		}
	}
	a {
		display: inline-block;
		vertical-align: bottom;
		background: rgba(#000,0.4);
		padding: 1.5em;
		span {
			@extend .is-hidden;
		}
	}
}
.footer-byteclub {
	.byteclub-social {
		display: inline-block;
		vertical-align: middle;
		width: 200px;
		margin-right: 20px;
	}
	.byteclub-address {
		display: inline-block;
		vertical-align: middle;
		padding: 20px 0;
		font-style: normal;
		font-weight: 600;
		line-height: 1.8em;
		@media (max-width: 50em) {
			padding: 50px 0;
		}
		span[itemprop="name"]::after {
			content: " – ";
		}
	}
	.byteclub-phone {
		@media (min-width: 50em) {
			margin-left: 30px;
		}
	}
	@media (max-width: 50em) {
		text-align: center;
	}
}
.byteclub-contact {
	@media (max-width: 50em) {
		display: block;
	}
}

/* Bottom bar */
.btm {
	padding: 12px;
	background: $color-black;
	text-align: right;
}
.nav-btm {
	font-size: 14px;
	line-height: 1em;
	a {
		color: $color-light-black;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	li + li a {
		margin-left: 20px;
	}
}
