.posts-list {
  list-style: none;
  a {
    font-size: 18px;
    color: $color-brown;
    text-decoration: none;
  }
  a.external h2:before {
    content: '🔗 ';
  }
  span.post-date {
    color: #888;
  }
  p {
    margin: 0 0 1em 2em;
  }
}

.blog {
  font-size: 1.2em;
  h1 {
    font-size: 2em;
  }
  a {
    color: $color-brown;
  }
  p {
    line-height: 1.4em;
    margin: 1em 0;
    code {
      background: #f3ede6;
    }
  }
  blockquote {
    background: #f3ede6;
    font-style: italic;
    padding: 0.2em;
  }
	@media (min-width: 680px) {
    .inner {
      width: 50%;
    }
  }
  .metadata {
    background: lighten($color-sand, 25);
    padding: 1em;
    color: lighten($color-brown, 25);
    .post-author, .post-date {
      font-weight: bold;
    }
    .post-tag {
      color: $color-brown;
      text-decoration: none;
      font-weight: bolder;
    }
  }
}
