/*
    COMPANY
*/
/* Team */
.member {
	margin-bottom: 45px;
	list-style: none;
	@include at-breakpoint(55em) {
		@include span-columns(3,6);
		&:nth-child(2n) {
			@include omega;
		}
	}
	&.last {
		margin-bottom: 0;
	}
}
.member-inside {
	position: relative;
	@include at-breakpoint(35em) {
		padding-left: 140px;
	}
}
.member-pic {
	@include at-breakpoint(0 35em) {
		display: block;
		margin-bottom: 20px;
	}
	@include at-breakpoint(35em) {
		position: absolute;
		top: 0;
		left: 0;
	}
}
.member-name {
	margin-bottom: 8px;
}
.member-job {
	margin-bottom: 25px;
	font-size: 18px;
	color: $color-light-black;
}
.member-bio {
	margin-bottom: 25px;
}
.member-social {
	li {
		margin-right: 10px;
		a {
			border-radius: 23px;
			height: 46px;
			line-height: 46px;
			text-align: center;
			width: 46px;
			span {
				@extend .is-hidden;
			}
		}
		i {
			color: $color-white;
			vertical-align: middle;
		}
	}
	.twitter a {
		background: #55acee;
	}
	.linkedin a {
		background: #1b86bc;
	}
	.github a {
		background: #333;
	}
	.lair a {
		background: $color-brown-text;
	}
}

/* Philosophy */
.idea {
	margin-bottom: 50px;
	@include at-breakpoint(80em) {
		@include span-columns(2,6);
		&.last {
			@include omega;
		}
	}
	@include at-breakpoint(60em 70em) {
		@include span-columns(2,6);
		&.last {
			@include omega;
		}
	}
}
.idea-title {
	@extend %font-titles;
	color: $color-brown;
	font-size: 28px;
	font-weight: 400;
	line-height: 34px;
}
.idea-card {
	@extend %shadow;
	position: relative;
	@include at-breakpoint(80em) {
		min-height: 350px;
	}
	padding: 40px 25px 25px;
	background: $color-purple;
	color: $color-white;
	a {
		color: $color-white;
	}
}
.idea-front {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 40px;
	background: $color-white;
	opacity: 1;
}
.idea-open {
	bottom: 25px;
	color: $color-orange;
	cursor: pointer;
	font-size: 3em;
	position: absolute;
	right: 25px;
	transition: opacity 0.1s ease;
	&:hover {
		opacity: .8;
	}
}
.idea-close {
	cursor: pointer;
	font-size: 2em;
	position: absolute;
	right: 15px;
	text-align: center;
	top: 15px;
	transition: opacity 0.1s ease;
	&:hover {
		opacity: .8;
	}
}
