/*
    HOMEPAGE
*/

.lnk-more {
	a {
		@extend .btn;
		display: inline-block;
		position: relative;
		text-decoration: none;
		color: #fff;
		&:before {
			content: '+';
			display: block;
			font-size: 6em;
			height: 70px;
			position: relative;
			text-align: center;
			top: 25%;
			width: 70px;
		}
	}
	@include at-breakpoint(0 70em) {
		padding: 50px 0 0;
		clear: both;
		text-align: center;
	}
	@include at-breakpoint(70em) {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -35px;
		a {
			padding: 0;
			width: 70px;
			height: 70px;
			span {
				display: none;
			}
		}
	}
}

/* Technologies */
.home-techno {
	@include at-breakpoint(0 50em) {
		margin-bottom: 50px;
		&.last {
			margin-bottom: 0;
		}
	}
	@include at-breakpoint(50em) {
		@include span-columns(3,6);
		&.last {
			@include omega;
		}
	}
}
.home-techno-logo {
	@include at-breakpoint(0 50em) {
		img {
			display: inline-block;
			max-width: 180px;
			margin-bottom: 20px;
		}
	}
	@include at-breakpoint(50em) {
		@include span-columns(2,6);
	}
}
.home-techno-txt {
	@include at-breakpoint(50em) {
		@include span-columns(4 omega,6);
	}
}
.lnk-technos-more {
	a {
		background: $color-orange;
	}
}

/* Services */
.home-services {
	background: $color-brown-text;
	.title-main {
		color: #fff;
	}
}
.home-service {
	text-align: left;
	&:first-of-type, &:nth-child(2) {
		margin-bottom: 50px;
	}
	@include at-breakpoint(0 50em) {
		margin-bottom: 50px;
	}
	@include at-breakpoint(50em) {
		@include span-columns(3,6);
		&.last {
			@include omega;
		}
	}
}
.home-service-row {
	display: table;
}
.home-service-cell {
	display: table-cell;
	vertical-align: top;
}
.home-service-picto {
	display: inline-block;
	float: left;
	margin-right: 30px;
	width: 110px;
	height: 110px;
	line-height: 110px;
	border-radius: 110px;
	background: rgba(#fff,.2);
	text-align: center;
	i {
		color: #fff;
		vertical-align: middle;
	}
}
.home-service-title {
	@extend %font-titles;
	margin: 5px 0 10px;
	font-size: 26px;
	font-weight: 700;
	line-height: 1em;
	color: #fff;
}
.home-service-desc {
	text-align: left;
	color: #dbcac6;
	a {
		color: #fff;
		+ span {
			color: #fff;
		}
	}
}
.lnk-services-more {
	a {
		background: rgba(#000,0.2);
		&:hover, &:focus {
			background: rgba(#000,0.3);
		}
	}
}
