/*
    REFERENCES
*/
.reference {
	position: relative;
}
.reference-title {
	margin: 25px 0 0;
	text-align: center;
	font-size: 18px;
}
.reference-logo {
	display: block;
	margin: 0 auto;
}
.reference-content {
	display: none;
	padding-top: 20px;
	color: #888;
	font-size: 14px;
}
.reference-btn {
	position: absolute;
	bottom: -25px;
	right: 30px;
	height: 25px;
	line-height: 25px;
	width: 40px;
	border: 0;
	line-height: 1em;
	background: $color-orange;
	color: #fff;
	text-align: center;
	font-weight: 300;
	font-size: 18px;
	&:hover, &:focus {
		background: lighten($color-orange,5);
	}
	.is-open & {
		background: $color-brown-text;
		&:hover, &:focus {
			background: lighten($color-brown-text,5);
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 5px;
		background: rgba(#000,0.05);
	}
}
