/*
    SERVICES
*/
.service {
	@extend %shadow;
	margin-bottom: 50px;
	padding: 30px;
	background: #fff;
}
.services-col-left {
	@include at-breakpoint(50em) {
		@include span-columns(3,6);
	}
}
.services-col-right {
	@include at-breakpoint(50em) {
		@include span-columns(3 omega,6);
	}
	> .service:first-child {
		margin-top: 50px;
	}
}
.service-title {
	@extend %font-titles;
	display: block;
	position: relative;
	text-align: center;
	font-weight: 700;
	font-size: 28px;
	color: #000;
	i {
		color: $color-orange;
		margin-right: .5em;
	}
	&:before {
		content: "";
		display: inline-block;
		position: relative;
		margin-right: 20px;
	}
}
.contact-us {
	@extend %shadow;
	padding: 0;
	background: $color-orange;
	color: #fff;
	text-align: center;
	@include at-breakpoint(0 50em) {
		margin-bottom: 50px;
	}
	.contact-us-txt {
		width: 200px;
		margin: 15px;
		display: inline-block;
		vertical-align: middle;
		opacity: 0.75;
		font-size: 22px;
	}
	.contact-us-btn {
		display: inline-block;
		vertical-align: middle;
		margin: 15px;
		a {
			background: #FFB430;
			color: #fff;
			&:hover, &:focus {
				background: tint(#FFB430,10);
			}
		}
	}
}
.bootcamp-main-title {
	vertical-align: middle;
}
.custom-made {
	@extend %shadow;
	background: $color-orange;
	border: 1em solid $color-orange;
	color: #fff;
	margin: 1em auto;
	width: 50%;
	a {
		background: #FFB430;
		color: #fff;
		&:hover, &:focus {
			background: tint(#FFB430,10);
		}
	}
	h3, strong {
		color: #fff;
	}
}

.custom-made-angular {
	background-image: url(../img/logo-angular-transparent.svg);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}
