/*
    TECHNOLOGIES
*/
.angular {
	color: $color-angular;
}
.node {
	color: $color-node;
}
.react {
	color: $color-react;
}
.js {
	color: $color-js;
}
.techno-col {
	@media (max-width: 50em) {
		margin-bottom: 30px;
	}
	@media (min-width: 50em) {
		@include span-columns(3,6);
		&.last {
			@include span-columns(3 omega,6);
		}
	}
}
.techno-logo {
	margin: 0;
	padding: 30px 0;
	background: $color-sand;
	img {
		max-width: 220px;
	}
}
