/*
    CONTACT
*/
/* Map */
#contact-map {
	position: absolute;
	bottom: 0;
	@media (max-width: 70em) {
		left: 0;
		right: 0;
		height: 350px;
	}
	@media (min-width: 70em) {
		top: 0;
		right: 0;
		width: 35%;
	}
}
.leaflet-popup-content-wrapper {
	border-radius: 0;
}
.leaflet-container {
	font-family: "adelle", serif;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	.tel-mail {
		color: #000;
		font-size: 16px;
		font-weight: 600;
		a {
			color: $color-purple;
		}
	}
	.tel {
		text-transform: uppercase;
	}
}
.leaflet-control-attribution {
	display: none;
}

/* Contact form */
.contact-form {
	background: $color-sand;
	padding-top: 70px;
	position: relative;
	z-index: 2;
	@media (max-width: 70em) {
		margin-bottom: 400px;
	}
	@media (min-width: 70em) {
		padding-bottom: 70px;
		padding-right: 4em;
		width: 64%;
	}
}
.fields-required {
	margin-bottom: 30px;
	color: $color-light-black;
	font-style: italic;
	span {
		color: $color-purple;
	}
}
.required {
	color: $color-purple;
}
.field-fullname {
	display: flex;
	justify-content: space-between;
}
.form-half {
	width: 47%;
}
.field {
	margin-bottom: 50px;
	.input {
		box-sizing: border-box;
		transition: all 0.3s ease;
		@extend $shadow;
		@extend $font-titles;
		display: block;
		width: 100%;
		padding: 15px;
		background: $color-white;
		border: none;
		color: $color-light-black;
		font-size: 18px;
		&:focus {
			box-shadow: rgba(#000,0.2) 5px 5px 0;
			outline: none;
		}
	}
	textarea {
		height: 200px;
	}
	label {
		display: inline-block;
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: 400;
	}
}
.field-error {
	label {
		color: #C94331;
	}
	.input {
		box-shadow: rgba(#C94331,0.15) 5px 5px 0;
		&:focus {
			box-shadow: rgba(#C94331,0.25) 5px 5px 0;
		}
	}
}
.field-submit {
	margin-bottom: 0;
}
.form-notice {
	@extend $shadow;
	margin: 30px 0;
	padding: 15px;
	color: $color-white;
	font-weight: 400;
	display: none;
}
.form-notice-error {
	background: #C94331;
}
.form-notice-success {
	background: #1f894e;
}
