/*
    HOMEPAGE
*/

/* Services */
.home-clients {
	background: $color-light-brown;
	.title-main {
		color: $color-white;
	}
}
.home-clients-list {
	@media (min-width: 50em) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.home-service {
	margin-bottom: 2em;
	text-align: left;
	@media (min-width: 50em) {
		width: 48%;
	}
}
.home-service-row {
	display: table;
}
.home-service-cell {
	display: table-cell;
	vertical-align: top;
}
.home-service-picto {
	display: inline-block;
	float: left;
	margin-right: 30px;
	width: 110px;
	height: 110px;
	line-height: 110px;
	border-radius: 110px;
	background: rgba(#fff,.2);
	text-align: center;
	i {
		color: #fff;
		vertical-align: middle;
	}
}
.home-service-title {
	@extend $font-titles;
	margin: 5px 0 10px;
	font-size: 26px;
	font-weight: 700;
	line-height: 1em;
	color: #fff;
}
.home-service-desc {
	text-align: left;
	color: #dbcac6;
	a {
		color: #fff;
		+ span {
			color: #fff;
		}
	}
}

.home-technos {
	display: flex;
	padding: 32px 0;
	justify-content: space-between;

	a {
		background: white;
		border: 2px solid #ccc;
		border-radius: 5px;
		display: block;
		color: #333;
		font-weight: bold;
		text-decoration: none;
		transition: all .2s ease;
		width: 20%;
	}

	.js {
		border-color: $color-js;
	}

	.js:hover {
		background: $color-js;
		color: white;
	}

	.node {
		border-color: $color-node;
	}

	.node:hover {
		background: $color-node;
		color: white;
	}

	.react {
		border-color: $color-react;
	}

	.react:hover {
		background: $color-react;
		color: white;
	}

	.angular {
		border-color: $color-angular;
	}

	.angular:hover {
		background: $color-angular;
		color: white;
	}

	img {
		height: 32px;
		margin-right: 16px;
		vertical-align: middle;
		width: 32px;
	}
}

.home-cols {
	display: flex;
}

.home-col {
	margin-bottom: 2em;
	@media (min-width: 50em) {
		justify-content: space-between;
		width: 33%;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin-bottom: 25px;
	}

	a {
		color: #2e1915;
	}

	img {
		height: 42px;
		margin-right: 16px;
		vertical-align: middle;
		width: 42px;
	}

	small {
		display: block;
	}
}

.home-clients-logos {
	display: flex;
	justify-content: space-between;

	img {
		background: white;
		flex-shrink: 0;
		height: 60px;
		padding: 10px;
	}

}
