{% extends 'index.html' %}

{% block contents %}

{% if blogIndex %}

<section class="section">
	<div class="wrap cf">
		<div class="inner">
			<ul class="posts-list">
			{% for post in collections.posts %}
				{% if post.title !='Blog' %}
				<li>
					<span class="post-date">Le {{ post.date | date }}</span>
					<a
						{% if post.external && post.url %} class="external" href="{{ post.url }}"
						{% else %}href="/blog/{{ post.paths.name }}.html"{% endif %}><h2>{{ post.title }}</h2></a>
					<p>
						{{ post.description }}
					</p>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% else %}

<section class="section blog">
	<div class="wrap cf">
		<div class="inner">
			<h2>{{ postTitle || title }}</h2>
			{% parent %}
			<div class="metadata">
				Par <span class="post-author">{{ author }}</span>
				le <span class="post-date">{{ date | date }}</span>
				{% if tagsUrlSafe.length > 1 %}dans les catégories{% endif %}
				{% if tagsUrlSafe.length == 1 %}dans la catégorie{% endif %}
				{% if tagsUrlSafe.length > 0 -%}
					{% for tag in tagsUrlSafe -%}
					<a class="post-tag" href="/blog/tags/{{ tag }}.html">#{{ tag }}</a>{% if !loop.last %}, {% endif %}
					{% endfor -%}
				{% endif -%}.
			</div>
		</div>
	</div>
</section>

{% endif %}

{% endblock %}
