/*
    CONFIGURATION
    Variables and global parameters
*/

$experimental-support-for-svg: true;

/* Grid */
$total-columns: 9;  // a 9-column grid
$column-width: 8em; // each column is 8em wide
$gutter-width: 4em; // 4em gutters between columns
$grid-padding: 1em; // grid-padding equal to 1em

/* Colors */
$color-black: #000;
$color-white: #fff;

$color-light-black: #888;
$color-sand: #f3ede6;
$color-orange: #f8911b;
$color-yellow: #feb313;
$color-purple: #616aa0;
$color-brown: #4c2923;
$color-light-brown: #955d4d;

$color-angular: #dd1b16;
$color-node: #8bcc54;
$color-react: #30dcfc;
$color-js: #f5e248;
