/*
	GLOBAL
	Styles for the whole project

	SUMMARY
	Typography
	Forms
	Tables
	Layout
*/

/*-----------------------------------------------------------------------
  == TYPOGRAPHY
----------------------------------------------------------------------- */

body {
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
	color: #333;
}

/* Titles
------------------------- */
.title-main {
	@extend %font-titles;
	@extend %transition;
	position: relative;
	margin-bottom: 60px;
	color: #000;
	font-size: 40px;
	line-height: 1em;
	font-weight: 700;
	@include at-breakpoint(70em) {
		&:before {
			display: inline-block;
			position: absolute;
			content: "";
			top: 50%;
			margin-top: -4px;
			left: calc(-4em + 47px);
			width: 47px;
			height: 7px;
			background: $color-orange;
		}
	}
}
.title-second {
	@extend %font-titles;
	margin: 30px 0;
	color: #000;
	font-weight: 400;
	font-size: 26px;
}

/* Links
------------------------- */
a {
	text-decoration:underline;
	&:hover, &:focus {
		text-decoration: none;
	}
}

/* Buttons
------------------------- */
.btn {
	@extend %font-titles;
	display: inline-block;
	padding: 10px 20px;
	background: #955D4D;
	color: #fff;
	border: none;
	text-decoration: none;
	font-size: 20px;
	line-height: 1em;
	font-weight: 500;
	&:hover, &:focus {
		background: shade(#955D4D,20);
	}
	.content & {
		color: #fff;
	}
}


/*-----------------------------------------------------------------------
  == LAYOUT
----------------------------------------------------------------------- */

.wrap {
	@include container;
	// @include susy-grid-background;
}
.section {
	position: relative;
	> .wrap {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
.section-alt {
	position: relative;
	background: #f3ede6;
}
.inner {
	@include at-breakpoint(70em) {
		@include span-columns(6,9);
		@include prefix(2,9);
  		@include suffix(1,9);
	}
}
.block {
	@extend %shadow;
	margin-bottom: 50px;
	padding: 30px;
	background: #fff;
}
.blocks-col-left {
	@include at-breakpoint(50em) {
		@include span-columns(3,6);
	}
}
.blocks-col-right {
	@include at-breakpoint(50em) {
		@include span-columns(3 omega,6);
	}
	> .block:first-child {
		margin-top: 50px;
	}
}

/*-----------------------------------------------------------------------
  == CONTENT
----------------------------------------------------------------------- */
.content {
	p, ul {
		margin-bottom: 1.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul li {
		position: relative;
		margin-bottom: 5px;
		margin-left: 20px;
		padding: 0;
		list-style: disc;
		list-style-position: outside;
	}
	a {
		color: #aa6c5a;
	}
	strong {
		color: #000;
	}
}


/*-----------------------------------------------------------------------
  == SHARED
----------------------------------------------------------------------- */

%font-titles {
	font-family: 'Cabin', sans-serif;
}
%shadow {
	box-shadow: rgba(#000,0.05) 5px 5px 0;
}
%transition {
	transition: background 0.1s ease;
	transition: color 0.1s ease;
}
