/*
    CONFIGURATION
    Variables and global parameters
*/


/* Colors */
$color-black = #000
$color-white = #fff

$color-light-black = #888
$color-sand = #f3ede6
$color-orange = #f8911b
$color-yellow = #feb313
$color-purple = #616aa0
$color-brown = #4c2923
$color-light-brown = #955d4d

$color-angular = #d40000
$color-node = #72c42d
$color-react = #00d8ff
$color-js = #f7d71e
