<!DOCTYPE html>
<!--[if IE 8 ]> <html class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<!-- Metas -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{{ site }}{% if title %} - {{ title }}{% endif %}</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/site.css" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Cabin:400,700,400italic,700italic|Coming+Soon' rel='stylesheet' type='text/css'>

	<!-- Standard favicons -->
	<link rel="icon" type="image/x-icon" href="img/favicon.ico" />
	<link rel="icon" type="image/png" href="img/favicon.png" />

	<!-- JS -->
	<script type='text/javascript' src='js/modernizr.custom.22896.js'></script>
	<script type='text/javascript' src='js/jquery-2.0.3.min.js'></script>
	<script type='text/javascript' src='js/jquery.meanmenu.min.js'></script>
	<script type='text/javascript' src='js/jquery.smooth-scroll.min.js'></script>
	<script type='text/javascript' src='js/jquery.debouncedresize.js'></script>
	<script type='text/javascript' src='js/jquery.sticky.min.js'></script>
	<script type='text/javascript' src='js/start.js'></script>

	{% if livereload -%}
	<script src="{{ livereload }}"></script>
	{%- endif %}

	<!-- Page-specific JS -->
	{% for script in scripts -%}
	<script type='text/javascript' src='{{ script }}'></script>
	{% endfor %}

</head>

<body class="{% if home %}home{% endif %}">

	<!-- TODO navigation -->

	{% autoescape false -%}
	{{ contents }}
	{%- endautoescape %}

	{% if !home -%}
	<footer class="footer" role="contentinfo">
		<a href="#top" class="lnk-top js-backToTop"><span>Retour en haut de page</span></a>
		<div class="wrap">
			<div class="inner">
				<ul class="nav nav-footer">
					<li><a href="index.html">Accueil</a></li>
					<li class="current"><a href="services.html">Services</a></li>
					<li><a href="technologies.html">Technologies</a></li>
					<li><a href="references.html">Références</a></li>
					<li><a href="societe.html">Société</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
				<div class="footer-lmtm">
					<ul class="lmtm-social">
						<li class="lnk-twitter"><a href="https://twitter.com/lmtmeditions"><span>Twitter</span></a></li>
						<li class="lnk-linkedin"><a href="http://www.linkedin.com/company/lmtm-sarl"><span>LinkedIn</span></a></li>
					</ul>
					<address class="lmtm-address" itemscope itemtype="http://schema.org/Corporation">
						<span itemprop="name">LMTM</span>
						<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
							<span itemprop="postOfficeBoxNumber">5</span>,
							<span itemprop="streetAddress">Boulevard Vincent Gache</span>
							<span itemprop="postalCode">44200</span>
							<span itemprop="addressLocality">Nantes</span>
						</span>
						<div class="lmtm-contact">
							<span class="lmtm-phone" itemprop="telephone">{{ tel }}</span> <a href="mailto:{{ mailto }}" class="lmtm-email" itemprop="email">{{ mailto }}</a>
						</div>
					</address>
				</div>
			</div>
		</div>
	</footer>
	{%- endif %}

	<div class="btm">
		<div class="wrap">
			<div class="inner">
				<ul class="nav nav-btm">
					<li><a href="mentions.html">Mentions légales</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>
